# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\GUSTAVOBARRETONAKAHA\Google Drive\UNICAMP\INF321 - Verificação e Validação de Software\Atividades\multibags\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
